*{
    font-family: "Lato";
    font-weight: 400;
    box-sizing: border-box;
}

body{
    background-color: #f9d8b2;
}

nav {
    background-color: white;
}

.navbar-brand:hover {
    opacity: 50%;
}

.nav-link {
    color: #f28d16;
    transition: transform 0.3s;
}

.nav-link:hover {
    color: #f28d16;
    font-weight: 900;
    transform: scale(1.2); 
}

.nav-link:focus {
    color: #f28d16;
}

.navbar-nav .nav-link.show {
    color: #f28d16;
}

.dropdown-menu {
    background-color: #ffffff;
    border-color: #ffffff;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ffffff;
}

.dropdown-item {
    color: #f28d16;
}

.dropdown-item:hover {
    color: #f28d16;
    font-weight: 900;
}

.dropdown-item:active {
    background-color: #ffffff;
}

.dropdown-toggle::after {
    content: none;
}

.navbar-toggler {
    color: #f28d16;
    border: none;
}

.navbar-toggler:focus {
    background-color: #f9d8b2;
    /* box-shadow: none; */
}

@media (max-width: 992px) {
  .nav-link:hover {
    transform: none;
  }
}