@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

:root{
    --swiper-theme-color:  #cd6017;
    --accent: #cd6017;
    --bg: #faf8f6;
    --card-bg: #ffffff;
    --muted: #6c6a66;
    --soft-shadow: 0 6px 18px rgba(14,14,16,0.06);
}

body{
    background:var(--bg);
    font-family:Lato;
    
}
  
.navbar-custom{
    background:rgba(255,255,255,.9);
    backdrop-filter:blur(6px);
    border-bottom:1px solid #eee;
    position: fixed;
    width: 100%;
}

.nav-link{
    color: #000;
}
.nav-link:hover {
    color: #cd6017;
    transition:.7s;
}

.btn-accent{
    background:var(--accent);
    color:#fff;
    border-radius:10px;
    border:0;
    padding:.55rem .9rem;
}
.btn-accent:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(255,106,0,.18);
    color: #cd6017;
}
  
.btn-outline-accent{
    border:1px solid var(--accent);
    color:var(--accent);border-radius:10px;
}

.btn-outline-accent:hover{
    background-color: #cd6017;
    color: #eee;
}


  
footer{
    background:#fff;
    border-top:1px solid #eee;
    padding:3rem 0;
}


/* TABLET NAVBAR FIX */
@media (max-width: 1180px) {

    .nav-link{
        font-size: 10px;
        justify-content: center;
    }


    .btn-sm{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}










  

