*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family:Arial, Helvetica, sans-serif;
   scroll-behavior: smooth;
}



.container-fluid{
   justify-content: space-between;
   text-align: center;
   align-items: center;   
}

.d-flex{
    display: flex;
    align-items: center;
    background-color: #e0e5ec;
    border-radius: 50px;
    width: 350px;
}

.search-input{
    flex-grow: 1;
    border:none;
    background:transparent;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
}
.search-input::placeholder{
    color: #a0a0a0;
}

.search-button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.3em;
    outline: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title{
   color: black;
   font-size: 30px;
   align-items: center;
}
