*{
    font-family: "Lato";
    font-weight: 400; 
}

body{
    background-color: #f9d8b2;
}

nav {
    background-color: white;
}

.navbar-brand:hover {
    opacity: 50%;
}

.nav-link {
    color: #f28d16;
}

.nav-link:hover {
    color: #f28d16;
    font-weight: 900; 
}

.nav-link.dropdown-toggle.show {
    color: #f28d16;
}