*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

body{
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 400;
    background-color: #ffffff;
}

main {
    margin-top: 2rem;
    padding: 30px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.sec-h1{
    color: #f28d16;
    font-size: 0.8rem;
    font-weight: 700;
}

.sec-h2{
    color: #f9d8b2;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

/* NAVBAR */
nav {
    background-color: white;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-brand:hover {
    opacity: 50%;
}

.nav-item {
    font-size: 1.4vh;
}

.nav-link {
    color: #f28d16;
    transition: transform 0.3s;
}

.nav-link:hover {
    color: #f28d16;
    font-weight: 900;
    transform: scale(1.2); 
}

.nav-link:focus {
    color: #f28d16;
}

.navbar-nav .nav-link.show {
    color: #f28d16;
}

.dropdown-menu {
    background-color: #ffffff;
    border-color: #ffffff;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ffffff;
}

.dropdown-item {
    color: #f28d16;
    font-size: 1.2vh;
}

.dropdown-item:hover {
    color: #f28d16;
    font-weight: 900;
}

.dropdown-item:active {
    background-color: #ffffff;
}

.dropdown-toggle::after {
    content: none;
}

.navbar-toggler {
    color: #f28d16;
    border: none;
}

.navbar-toggler:focus {
    background-color: #f9d8b2;
}

/* MENU */
.grid-wrapper {
    padding: 1rem 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

/* FAQs */
.accordion-item{
    border: none;
}

.accordion-button {
    font-weight: 700;
    padding: 0.8rem;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: #000000;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    .grid-wrapper > div {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media (max-width: 992px) {
    .nav-link:hover {
        transform: none;
    }
}
