*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

body{
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 400;
    background-color: #ffffff;
}

main {
    margin-top: 2rem;
    padding: 30px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.sec-h1{
    color: #f28d16;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 1rem;
}

.sec-h2{
    color: #4D2F0F;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

/* NAVBAR */
nav {
    background-color: #ffffff;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-brand:hover {
    opacity: 50%;
}

.nav-item {
    font-size: 0.9rem;
}

.nav-link {
    color: #f28d16;
    transition: transform 0.3s;
}

.nav-link:hover {
    color: #f28d16;
    font-weight: 900;
    transform: scale(1.2); 
}

.nav-link:focus {
    color: #f28d16;
}

.navbar-nav .nav-link.show {
    color: #f28d16;
}

.navbar .dropdown-menu {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    background-color: #ffffff;
}

.navbar .dropdown-item {
    color: #f28d16;
    font-size: 0.7rem;
}

.navbar .dropdown-item:hover {
    color: #f28d16;
    font-weight: 900;
}

.navbar .dropdown-item:active {
    background-color: #ffffff;
}

.navbar .dropdown-toggle::after {
    content: none;
}

.navbar-toggler {
    color: #f28d16;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* MENU */
.grid-wrapper {
    padding: 1rem 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

/* FAQs */
.accordion-item{
    border: none;
}

.accordion-button {
    font-weight: 700;
    padding: 0.8rem;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: #000000;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    font-size: 0.9rem;
}

/* Datepicker */
.ui-datepicker {
    max-width: 15rem;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-header {
    border: none;
    background: #ffffff;
    color: #f28d16;
    font-weight: bold;
}

.ui-state:hover {
    border: none;
}

/* FOOTER */
.btn-accent {
    background: #ff6a00;
    color: #fff;
    border-radius: 10px;
    border: 0;
    padding: .55rem .9rem;
}

footer{
    background:#fff;
    border-top:1px solid #eee;
    padding:3rem 0;
}

@media screen and (max-width: 768px) {
    .grid-wrapper > div {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media (max-width: 992px) {
    .nav-link:hover {
        transform: none;
    }
}
